.banner {
  height: 56vh;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner::before {
  content: "";
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.banner-text-area {
  width: 36%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 2rem;
}

.banner-text-area > * {
  z-index: 2;
}

/* ============================= */

/* 모바일 대응을 위한 미디어 쿼리 추가 */
@media (max-width: 768px) {
  .banner {
    height: 70vh; /* 모바일에서 배너 높이 증가 */
  }

  .banner-text-area {
    width: 80%; /* 모바일에서 텍스트 영역 너비 확대 */
    justify-content: flex-end; /* 텍스트를 배너 하단으로 이동 */
  }

  .banner-text-area h1 {
    font-size: 1.5rem; /* 모바일에서 제목 크기 축소 */
  }

  .banner-text-area p {
    font-size: 0.9rem; /* 모바일에서 본문 텍스트 크기 축소 */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 3줄로 제한 */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
